
// include breakpoint file
@use 'breakpoints' as *;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');



// Variables
:root{
    --main-color:#e8786e;
    --black:#555;
    --light-color:#777;
    --bg:#fceae9;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

// base

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-out;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;

    @include breakpoint(large){
        font-size: 55%;
    }

    @include breakpoint(small){
        font-size: 50%;
    }
}

section{
    padding: 2rem 9%;

    @include breakpoint(large){
        padding: 2rem;
    }
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;

    .box{
        text-align: center;
        border: var(--border);
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        padding: 4rem 2rem;
    }
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}