@use 'breakpoints' as *;

#menu-btn{
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.3rem;
    border-radius: .5rem;
    color: var(--main-color);
    background: var(--bg);
    display: none;

    @include breakpoint(medium){
        display: initial ; 
    }
}

#menu-btn:hover{
    color: #fff;
    background: var(--main-color);
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: var(--main-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow: hidden;

    &:hover::before{
        left: 0;
        width: 100%;
    }

    &::before{
        content: '';
        position: absolute;
        top: 0; right: 0;
        height: 100%;
        width: 0%;
        background: var(--black);
        z-index: -1;
        transition: .2s ease-out;
    }
}