.footer{
    margin-top: 1rem;
    background: var(--bg);
    padding-bottom: 9rem;

    .box-container{
        grid-template-columns: repeat(auto-fit, minmax(23rem , 1fr));

        .box{
            box-shadow: none;
            border: none;
            text-align: unset;

            h3{
                font-size: 2.5rem;
                padding: 1rem 0;
                color: var(--black);
            }

            a{
                display: block;
                font-size: 1.5rem;
                padding: 1rem 0;
                color: var(--light-color);

                i{
                    padding-right: .5rem;
                    color: var(--main-color);
                }

                &:hover i{
                    padding-right: 2rem;
                }
            }
        }
    }


    .attribution{
        font-size: 1.5rem;
        color: var(--main-color);
        text-align: center;
    }

}

