.header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;

    &__logo{
        font-size: 2.5rem;
        color: var(--black);
        font-weight: bolder;
    }

    &__navbar{

        &--item{
            font-size: 1.7rem;
            color: var(--light-color);
            margin-left: 2rem;

            &:hover{
                color: var(--main-color);
            }
        }
    }
}