.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
    background: var(--bg);
    position: relative;

    &__content{
        flex: 1 1 45rem;

        h3{
            font-size: 3.5rem;
            color: var(--black);
            line-height: 1.8;
        }

        p{
            font-size: 1.7rem;
            color: var(--light-color);
            line-height: 1.8;
            padding: 1rem 0;
        }
    }

    &__image{
        flex: 1 1 45rem;

        img{
            width: 100%;
        }
    }

    &__cloud{
        position: absolute;
        bottom: 0; right: 0; left: 0;
        height: 18rem;
        background-size: 250rem 18rem;
        background: url(../../src/images/cloud.png);
        animation: cloud 30s linear infinite;
    }

    &__cloud-1{
        opacity: .5;
        height: 20rem;
        animation-duration: 35s;
    }
}

@keyframes cloud {
    0%{
        background-position-x: 0rem;
    }

    100%{
        background-position-x: -250rem;
    }
}