.heading{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    color: var(--black);

    span{
        color: var(--main-color);
        border-radius: .5rem;
        background: var(--bg);
        padding: 0 1.5rem;
    }
}